@model DoctorViewModel

    <div class="text-center">
        <img src="@Html.ImageOrDefault(Model.PhotoUrl)" class="profile-user-img img-responsive img-circle" alt="User Image">
    </div>
        <h3 class="profile-username text-center">
            <span>Dr. </span>
            <span>@Model.FirstName</span>
            <span>@Model.LastName</span>
        </h3>

        <hr>

        <strong><i class="fas fa-birthday-cake mr-1"></i> Day Of Birth</strong>

        <p class="text-muted">@Model.Birthday</p>

        <hr>

        <strong><i class="fas fa-briefcase-medical mr-1"></i> Position</strong>

        <p class="text-muted">@Model.Position</p>

        <hr>

        <strong><i class="fas fa-at mr-1"></i> E-mail</strong>

        <p class="text-muted">@Model.Email</p>

        <hr>

        <strong><i class="fas fa-phone mr-1"></i> Phone number</strong>

        <p class="text-muted">@Model.PhoneNumber</p>
