@model EMR.Business.Models.Doctor

<h3 class="profile-username text-center">
    <span>@Model.PositionId</span>
    <span>@Model.PositionId</span>
</h3>

<hr>

<strong><i class="fas fa-venus-mars mr-1"></i> Sex</strong>

<p class="text-muted">@Model.PositionId</p>

<hr>

<strong><i class="fas fa-birthday-cake mr-1"></i> Day Of Birth</strong>

<p class="text-muted">@Model.PositionId</p>

<hr>

<strong><i class="fas fa-briefcase-medical mr-1"></i> Position</strong>

<p class="text-muted">@Model.PositionId</p>

<hr>

<strong><i class="fas fa-phone mr-1"></i> Phone number</strong>

<p class="text-muted">@Model.PositionId</p>
