@model Electronic_Medical_Record.ViewModels.SickLeaveSearchModel
@using Electronic_Medical_Record.Helpers.DataTables
@{
    var _model = new Electronic_Medical_Record.Models.SickLeave();
    var _filters = new List<FilterParameter>
    {
    new FilterParameter(nameof(Model.RecordId), Model.RecordId, typeof(int))
    };
    }

    <table id="sickLeavesTable" class="table table-sm table-striped table-bordered h-auto" style="width:100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(value => _model.Id)</th>
                <th>@Html.DisplayNameFor(value => _model.FormId)</th>
                <th>@Html.DisplayNameFor(value => _model.DiagnosisCode)</th>
                <th>@Html.DisplayNameFor(value => _model.StartDate)</th>
                <th>@Html.DisplayNameFor(value => _model.FinalDate)</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <partial name="_TableScriptsAndStyles" />

    @{
        var gridModel = new DataTablesModel
        {
            StateSave = false,
            AutoWidth = true,
            Processing = true,
            ServerSide = true,
            Paging = true,
            Searching = true,
            Order = "0, 'desc'",
            LengthMenu = "22, 50, 100, 500",
            PageLength = 22,
            Name = "sickLeavesTable",
            Url = "/SickLeaves/LoadTable",
            Filters = _filters
        };

        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(_model.Id)));
        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(_model.FormId)));
        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(_model.DiagnosisCode)));
        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(_model.StartDate))
        {
            Render = new RenderDate()
        }
        );
        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(_model.FinalDate))
        {
            Render = new RenderDate()
        }
);
        string buttons = " <a href=\"/Records/Details?id =' + row.id + ' \" class=\"btn btn-light btn btn-sm py-0\" style=\"font-size: 1em;\"><i class=\"far fa-eye\"></i></a>" +
        " <a href=\"/Records/AddOrEdit?id =' + row.id + ' \" class=\"btn btn-light btn btn-sm py-0\" style=\"font-size: 1em;\"><i class=\"fa fa-edit\"></i></a>" +
        " <a href=\"/Records/Delete?id =' + row.id + ' \" class=\"btn btn-light btn btn-sm py-0\" style=\"font-size: 1em;\"><i class=\"fa fa-trash\"></i></a>";

        gridModel.ColumnCollection.Add(new ColumnProperty(nameof(_model.Id))
        {
            Render = new RenderRandom(buttons)
        }
        );

    }
    @await Html.PartialAsync("Table", gridModel)
