@model EMR.Business.Models.Patient

<h3 class="profile-username text-center">
    <span>@Model.User.FirstName</span>
    <span>@Model.User.LastName</span>
</h3>

<hr>

<strong><i class="fas fa-birthday-cake mr-1"></i> Day Of Birth</strong>

<p class="text-muted">@Model.User.Birthday</p>

<hr>

<strong><i class="fas fa-briefcase mr-1"></i> Job</strong>

<p class="text-muted">@Model.Job</p>

<hr>

<strong><i class="fas fa-phone mr-1"></i> Phone number</strong>

<p class="text-muted">@Model.User.PhoneNumber</p>
